# Google Sheets Configuration
GOOGLE_SHEET_ID=1E6zv2S6vNEGuKtPfUKFdzfp1mOiYtMmICpP0bW1LNyc
GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-email-de-servico@seu-projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUa_chave_aqui\n-----END PRIVATE KEY-----\n"

# Firebase Configuration (Optional)
FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=seu-projeto-firebase
FIREBASE_PRIVATE_KEY_ID=sua-chave-privada-id
FIREBASE_CLIENT_EMAIL=seu-email@seu-projeto.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=seu-client-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUa_chave_firebase\n-----END PRIVATE KEY-----\n"

# Server
PORT=3000
